services:
  - type: web
    name: food-app-server
    env: node
    region: oregon
    buildCommand: npm install && npm run build
    startCommand: npm start
    plan: free
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
  
  - type: web
    name: food-app-client
    env: static
    region: oregon
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    plan: free
    buildFilter:
      paths:
      - client/**
    pullRequestPreviewsEnabled: false
    headers:
      - path: /*
        name: X-Robots-Tag
        value: noindex